*{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    overflow: auto;
    min-width:660px;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
}

body main {
    overflow: hidden;
    word-wrap: break-word;
    box-sizing: border-box;
    margin: 0% 5%;
    padding: 1% 1%;
    border: 0;
    width: 90%;
    height: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.centered {
    margin: auto;
    text-align: center;
}

.leftCol {
    float: left;
    margin-left: 5%;
    width: 55%;
    text-align: center;
}

.rightCol {
    float: right;
    margin-right: 5%;
    width: 30%;
    text-align: center;
}

.scaleimg {
    width: 66vh;
    height: 66vh;
    object-fit: contain;
}

.border {
    border: 1px solid #000;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 1%;
}