*{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    overflow: auto;
    min-width:660px;
    width: 100%;
    height: 100%;
}

body main {
    word-wrap: break-word;
    width: 100%;
    height: 100%;
}

header {
    min-width:660px;
}
/*Vertical Navigation Bar styling start*/
.vnavbar {
    float: right;
    background-color: #f33;
    font-family: Arial;
    width: 20%;
    height: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.vnavbar>.vdropdown {
    display: block;
    width: 100%;
    height: 17.3vh;
    min-height: 70px;
    border-top: 1px solid #fff;
}

.vnavbar>.vdropdown>.vdropbtn {
    text-align: center;
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 5px 10px;
    width: 100%;
    height: 100%;
    background-color: inherit;
}

.vnavbar>.vdropdown>.vdropbtn>img {
    width: 10%;
    height: 17.5%;
    margin: auto;
}

.vnavbar>.vdropdown:hover>.vdropbtn {
    background-color: #c00;
}

.vnavbar>.vdropdown>.vdropdown-content {
    display: none;
    overflow: auto;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 110px;
    left: 10%;
    right: 20%;
    bottom: 5px;
}

.vnavbar>.vdropdown:hover>.vdropdown-content {
    display: block;
}
/*Navigation Bar styling end*/
/* Styling for text box from nav bar */
.vnavbar>.vdropdown>.vdropdown-content>* {
    padding: 0% 3%;
}
.vnavbar>.vdropdown>.vdropdown-content>p {
    padding: 0% 0% 3% 3%;
    word-wrap: break-word;
    font-size: 90%;
}

.vnavbar>.vdropdown>.vdropdown-content>p * {
    padding: 0;
    word-wrap: break-word;
    font-size: 90%;
}

.vnavbar>.vdropdown>.vdropdown-content>h3 {
    padding: 3% 1%;
}

.vnavbar>.vdropdown>.vdropdown-content>h4 {
    padding: 0% 2%;
}

.vnavbar>.vdropdown>.vdropdown-content>ul {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    list-style: none;
    overflow: auto;
    height: 30%;
    width: 50%;
}
.vnavbar>.vdropdown>.vdropdown-content>ul>li {
    padding: 0.5% 3%;
}

.centered {
    margin: auto;
    text-align: center;
}