*{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    overflow: auto;
    min-width:660px;
    width: 100%;
    height: 100%;
}

body main {
    word-wrap: break-word;
    width: 100%;
    height: 100%;
}

header {
    min-width:660px;
}
/*Vertical Navigation Bar styling start*/
.vnavbar {
    margin-top: 2px;
    background-color: #333;
    font-family: Arial;
    width: 20%;
    height: 87.2vh;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.vnavbar>.vdropdown-category {
    padding-top: 5px;
    border-bottom: 2px solid #fff;
    background-color: #333;
}

.vnavbar>.vdropdown-category>h3 {
    color: white;
}

.vnavbar>.vdropdown-category>h3+.vdropdown {
    margin-top: 5px;
}

.vnavbar>.vdropdown-category>h5 {
    margin-bottom: 5px;
    color: white;
}

.vnavbar>.vdropdown-category>.vdropdown {
    display: block;
    margin: 0% 0% 0% 10%;
    width: 90%;
    border-top: 1px solid #fff;
    background-color: #f33;
}

.vnavbar>.vdropdown-category>.vdropdown>.vdropbtn {
    text-align: center;
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 5px 10px;
    width: 100%;
    height: 100%;
    background-color: inherit;
}

.vnavbar>.vdropdown-category>.vdropdown>.vdropbtn>img {
    width: 10%;
    height: 17.5%;
    margin: auto;
}

.vnavbar>.vdropdown-category>.vdropdown:hover>.vdropbtn {
    background-color: #c00;
}

.vnavbar>.vdropdown-category>.vdropdown>.vdropdown-content {
    display: none;
    overflow: auto;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 110px;
    left: 20%;
    right: 10%;
    bottom: 5px;
}

.vnavbar>.vdropdown-category>.vdropdown:hover>.vdropdown-content {
    display: block;
}
/*Navigation Bar styling end*/
/* Styling for text box from nav bar */
.vnavbar>.vdropdown-category>.vdropdown:hover>.vdropdown-content>p {
    margin-bottom: 2%;
}

.centered {
    margin: auto;
    text-align: center;
}

.leftCol {
    float: left;
    margin-left: 5%;
    width: 42.5%;
    text-align: center;
}

.rightCol {
    float: right;
    margin-right: 5%;
    width: 42.5%;
    text-align: center;
}

.border {
    border: 1px solid #000;
}

.vdropdown-content>div>.border+div {
    margin-top: 5px;
}

.vdropdown-content>div>.border~div {
    margin-bottom: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.vdropdown-content>div>h4 {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.vdropdown-content>div>h4~.border {
    overflow: auto;
}

.classCRN{
    float: left;
    margin-left: 2.5%;
    margin-bottom: 2.5%;
    width: 25%;
    text-align: left;
    font-size: 80%;
}

.className{
    float: left;
    margin-right: 2.5%;
    margin-bottom: 2.5%;
    width: 70%;
    text-align: left;
    font-size: 80%;
}