*{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    overflow: auto;
    min-width:660px;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
}

body main {
    word-wrap: break-word;
    margin: 0% 5%;
    padding: 0;
    border: 0;
    width: 90%;
    height: 100%;
}